@font-face {
    font-family: 'Proxima Nova Soft Regular';
    src: url(..assets/fonts/ProximaNovaSoft-Regular.otf);
}

* {
    font-family: 'Proxima Nova Soft Regular', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    font-size: 1.2em;
    color: #fff;
    height: 436px;
    /*524*/
}

header .wrapper {
    position: relative;
    height: 100%;
}

header .icon--hero-bg {
    background-size: 1500px;
    background-position: top center;
    height: 100%;
}

.quote-container {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 7.2em;
    left: 0;
    right: 0;
    z-index: 5;
}

.quote-container h2 {
    width: 52.5%;
    font-size: 2.77em;
    margin: 0.2em auto;
}

.quote-container p {
    font-size: 1.05em;
}

.quote-btn {
    background-color: #3498DB;
    font-size: 1.09em;
    border-radius: 30px;
    margin-top: 1.5em;
    padding: 7.5px 31.5px;
    transition: 0.3s;
}

.quote-btn:hover {
    background-color: #1280c9;
}

header .icon--hero-park {
    background-size: 11.1em;
    background-position: left bottom;
    position: absolute;
    left: 11.4%;
    bottom: -4.6%;
    padding: 7em 5.6em;
}

header .icon--hero {
    background-size: 1500px;
    background-position: top center;
    position: absolute;
    top: 0;
    padding: 15em 50%;
}

header .icon--hero-bench {
    background-size: 107px;
    background-position: right bottom;
    position: absolute;
    right: 20.1%;
    bottom: -4.2%;
    padding: 3.5% 7.2%;
}