@font-face {
    font-family: 'Proxima Nova Soft Regular';
    src: url(..assets/fonts/ProximaNovaSoft-Regular.otf);
}

* {
    font-family: 'Proxima Nova Soft Regular', sans-serif;
}

@media screen and (max-width: 460px) {
    header {
        font-size: 1.2em;
        color: #fff;
        height: 480px;
    }
    #contact-us {
        background-color: #fff;
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        right: 1.1em;
        height: 50px;
        width: 160px;
        z-index: 6;
    }
    #contact-us i {
        font-size: 2em;
        position: relative;
        left: -5px;
    }
    #contact-us span:first-child {
        position: absolute;
        top: 14.5px;
        left: 32.5px;
        color: #fff;
        z-index: 6;
    }
    #contact-us span:last-child {
        position: relative;
        top: -5px;
    }
    header .icon--hero-bg {
        background-size: 1600px;
        background-position: top right;
        height: 93%;
    }
    .main-navigation {
        display: none;
    }
    .quote-container div {
        position: relative;
        margin: auto;
        top: 110px;
        left: 0;
        right: 0;
        z-index: 5;
    }
    .quote-container img {
        height: 3.5em;
        margin-bottom: 0.5em;
    }
    .quote-container p {
        font-size: 1.05em;
        width: 80%;
        margin: auto;
    }
    .quote-btn {
        background-color: #3498DB;
        font-size: 1.15em;
        border-radius: 30px;
        margin-top: 1.5em;
        padding: 10px 50px;
        transition: 0.3s;
    }
    header .icon--hero-park {
        background-size: 11em;
        background-position: left bottom;
        position: absolute;
        left: -9em;
        bottom: 9.5em;
        padding: 7em 5.6em;
    }
    header .icon--hero {
        background-size: 1550px;
        background-position: top center;
        position: absolute;
        top: 0;
        padding: 14.5em 50%;
    }
    header .icon--hero-bench {
        background-size: 100px;
        background-position: left bottom;
        position: absolute;
        right: 0;
        bottom: 10em;
        padding: 5% 5%;
    }
    /*
        ================
        HOW IT WORKS
        ================
    */
    #how-it-works {
        background-color: #f9f9f9;
        position: relative;
        top: -35px;
        z-index: 1;
    }
    .imgs {
        z-index: 4;
    }
    #how-it-works .container {
        width: 90%;
        padding: 0;
    }
    .yellow-circle {
        background-color: #ffcc66;
        border-radius: 50%;
        width: 225px;
        height: 225px;
        margin: auto;
    }
    .icon--step-bond-guarantee,
    .icon--step-quote,
    .icon--step-payment {
        background-size: 65%;
        background-position: center;
        z-index: 5;
    }
    #how-it-works .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5em;
        text-align: center;
    }
    #how-it-works .row:nth-child(2) {
        flex-direction: column;
    }
    #how-it-works .row:last-child {
        margin-bottom: 4em;
    }
    #how-it-works h2 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }
    #how-it-works p {
        font-size: 1em;
        line-height: 23px;
    }
    /*
        ================
        OUR PROMISE
        ================
    */
    #our-promise .title {
        margin: 2em 0 2em;
        padding: 0 1.5em;
    }
    #our-promise .container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    #our-promise .container .row {
        width: 100%;
    }
    #our-promise h1,
    #our-community h1 {
        font-size: 3.5em;
        margin-bottom: 0.3em;
    }
    .title p {
        font-size: 1.3em;
        line-height: 30px;
        width: 100%;
        margin: auto;
    }
    #our-promise .container:first-child .row:nth-child(2) {
        width: 100%;
    }
    .feature {
        border-top: 1px solid #eee;
        width: 100%;
        margin: 0;
        padding: 0.5em;
        overflow: auto;
        cursor: pointer;
    }
    .feature h3 {
        font-size: 1em;
        display: inline-block;
        position: relative;
        top: -2px;
    }
    .feature-desc {
        font-size: 1.05em;
        padding: 0 30px 5px;
    }
    .icon--feature-support,
    .icon--feature-professional,
    .icon--feature-insurance,
    .icon--feature-flexibility,
    .icon--feature-transparency,
    .icon--feature-eco {
        background-size: contain;
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 2.5%;
    }
    .icon--arrow-down {
        float: right;
        background-size: contain;
        position: relative;
        top: 10px;
        right: 5px;
        width: 30px;
        height: 30px;
    }
    .flip {
        transform: rotateZ(180deg);
    }
    /*
        ================
        OUR COMMUNITY
        ================
    */
    #our-community,
    #checklist {
        background-color: #75b9e7;
        color: #fff;
        padding: 50px 8px;
    }
    #our-community .container {
        width: 100%;
        flex-direction: column;
    }
    #our-community .title {
        margin-bottom: 3em;
    }
    .avatar {
        background-image: url(../images/testimonials@2x.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .avatar-2 {
        background-position: 0 -205px;
    }
    .avatar-3 {
        background-position: 0 -104px;
    }
    .testimonial h4 {
        margin: 1% 0 0;
    }
    .testimonial p {
        font-size: 1em;
        text-align: center;
        margin-top: 2%;
        line-height: 25px;
    }
    .testimonial:last-child {
        margin-bottom: 10em;
    }
    .icon--rating-5 {
        background-size: 100%;
        width: 125px;
        height: 40px;
        margin: 0 auto 5%;
    }
    /*
        ================
        CHECKLIST
        ================
    */
    #checklist {
        background-color: #3498db;
        position: relative;
    }
    #checklist .gallery:first-child,
    #checklist .gallery:nth-child(2) {
        position: absolute;
        top: -9em;
        left: 0;
        right: 0;
        margin: auto;
        width: 250px;
        height: 250px;
    }
    #checklist .gallery:first-child {
        z-index: 5;
    }
    #checklist .gallery:nth-child(2) {
        z-index: 4;
    }
    #checklist .gallery:first-child img:first-child {
        position: absolute;
        top: -10%;
        left: -10%;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    #checklist .gallery:first-child img:nth-child(2) {
        position: absolute;
        top: -9%;
        right: -10%;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    #checklist .gallery:first-child img:nth-child(3) {
        position: absolute;
        bottom: -8%;
        left: -10%;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    #checklist .gallery:first-child img:nth-child(4) {
        position: absolute;
        bottom: -9%;
        right: -4%;
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    #checklist .gallery:nth-child(2) img:first-child {
        position: absolute;
        top: 10%;
        left: -13%;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    #checklist .gallery:nth-child(2) img:nth-child(2) {
        position: absolute;
        top: -16%;
        right: 0;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    #checklist .gallery:nth-child(2) img:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: -12%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    #checklist .gallery:nth-child(2) img:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: -16%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    #checklist .container {
        width: 90%;
        padding: 0;
    }
    #checklist .container .row:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    #checklist h1 {
        font-size: 3.4em;
        width: 80%;
        margin: 3em auto 0.2em;
    }
    #checklist .title {
        margin-bottom: 2em;
    }
    .list {
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        height: 900px;
        margin-bottom: 2em;
        padding: 0;
        padding-top: 0.5em;
    }
    .checklist {
        width: 100%;
        padding: 0;
    }
    .checklist li {
        border-top: 1px solid #eee;
        padding: 0;
        padding: 1.1em 3.5em;
        display: flex;
        align-items: center;
    }
    .icon--tick {
        background-position: center;
        padding: 1em;
        position: relative;
        float: left;
        left: -2em;
    }
    .vertical-line {
        position: absolute;
        left: 4em;
        border-left: 1px solid #ecbbb6;
    }
    .long-list:nth-child(1) .vertical-line {
        height: 803.5px;
    }
    .long-list:nth-child(2) .vertical-line,
    .long-list:nth-child(3) .vertical-line {
        height: 854px;
    }
    .small-list {
        height: 450px;
    }
    .small-list:nth-child(1) .vertical-line,
    .small-list:nth-child(2) .vertical-line,
    .small-list:nth-child(3) .vertical-line {
        height: 404px;
    }
    /*
        ===========
        QUOTE
        ===========    
    */
    #quote {
        background-color: #eee;
        padding: 6em 0;
    }
    #quote .wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 1em 4em;
        width: 95%;
    }
    #quote h1 {
        width: 100%;
        font-size: 3.5em;
    }
    #quote .title p {
        font-size: 1.25em;
        line-height: 28px;
        width: 100%;
    }
    #quote .title {
        margin-bottom: 3em;
    }
    form .row {
        border-bottom: 1px solid #ccc;
        flex-direction: column;
    }
    form .row:first-child,
    form .row:nth-child(2),
    form .row:nth-child(3) {
        display: flex;
        padding: 1.5em 0;
    }
    form .row:nth-child(4) {
        padding: 1.5em 0;
    }
    form .row .col-lg-4,
    form .row .col-lg-12 {
        padding: 0;
    }
    #quote form h4 {
        margin-bottom: 0.2em;
    }
    #quote .home-type {
        overflow: auto;
        margin-bottom: 0.5em;
    }
    #quote .home-type span {
        position: relative;
        top: 1.05em;
    }
    .fa-info {
        background-color: #ccc;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        position: relative;
        top: 1.4em;
        width: 1.5em;
        height: 1.5em;
        padding-top: 3px;
        float: right;
    }
    .extras-top .fa-info {
        top: 0.8em;
    }
    #quote .icon--property-studio,
    #quote .icon--property-house,
    #quote .icon--property-apartment {
        background-size: contain;
        border-radius: 50%;
        width: 3.4em;
        height: 3.4em;
        margin-right: 0.5em;
        opacity: 0.5;
        float: left;
        cursor: pointer;
        transition: 0.3s;
    }
    #quote .number-box {
        overflow: auto;
        border: 1px solid #ccc;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-bottom: 1.5em;
    }
    #quote .number-box button {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
        height: 2.6em;
        width: 10%;
        transition: 0.3s;
    }
    #quote .number-box button:first-child {
        border: none;
        border-right: 1px solid #ccc;
        float: left;
    }
    #quote .number-box button:last-child {
        border: none;
        border-left: 1px solid #ccc;
        float: right;
    }
    #quote .number-box button:hover {
        background-color: #eee;
    }
    #quote .icon--property-apartment {
        border: 2px solid #2a94e2;
        opacity: 1;
    }
    #quote .number-box input {
        text-align: center;
        width: 80%;
        height: 2.6em;
        border: none;
    }
    #quote .icon--property-studio:hover,
    #quote .icon--property-house:hover {
        opacity: 1;
    }
    .extras-box {
        height: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    .extras-box:last-child {
        border: none;
    }
    .extras-top {
        height: 4em;
        padding-bottom: 0;
    }
    .extras-box input[type=checkbox]:before {
        content: "";
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }
    .extras-box input[type=checkbox]:checked:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M4.208%2010.53l3.458%203.46m8.126-8.01l-8.04%208.04%22%20fill%3D%22none%22%20stroke%3D%22%2387BF57%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    .extras-box label {
        position: relative;
        top: 0.6em;
        left: 2em;
        cursor: pointer;
    }
    .extras-box label {
        position: relative;
        top: 0.6em;
        left: 2em;
        cursor: pointer;
    }
    .appliance {
        height: auto;
        margin-bottom: 0.5em;
    }
    .appliance label {
        position: relative;
        top: 1px;
    }
    .appliance input[type=checkbox]:before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        float: left;
    }
    #get-quote-btn {
        font-size: 1.2em;
        width: 100%;
        height: 3em;
        margin-top: 2em;
        margin-bottom: 1.8em;
        transition: 0.3s;
        border-radius: 30px;
    }
    /*
        ==========
        FOOTER
        ==========
    */
    footer {
        background-color: #2a94e2;
        color: #fff;
        height: 562px;
        padding: 3.5em 0 4em;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    footer .row:first-child p {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 1.1em;
    }
    footer .container i {
        background-color: #1280c9;
        font-size: 1.8em;
        width: 2em;
        height: 2em;
        margin-right: 0.4em;
        margin-bottom: 2.3em;
        padding-top: 0.5em;
        transition: 0.3s;
        cursor: pointer;
    }
    footer .container i:last-child {
        margin-right: 0;
    }
    footer .container i:hover {
        background-color: #0e629a;
    }
    footer .row:last-child {
        text-align: center;
    }
    footer li {
        display: block !important;
        margin-bottom: 1.8em;
    }
    footer li:last-child {
        margin: 0;
    }
    footer a {
        color: #fff;
    }
    footer a:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    footer img[alt="Neat logo"] {
        height: 60px;
        margin-bottom: 1.4em;
    }
    .hide-for-small {
        display: none;
    }
}

@media (min-width: 460px) {
    header {
        font-size: 1.2em;
        color: #fff;
        height: 605px;
    }
    header .alert-offer {
        background-color: #ed7161;
        font-size: 0.85em;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 35px;
        z-index: 6;
    }
    .alert-offer p {
        margin-top: 0.5em;
    }
    .alert-offer button {
        font-size: 2.5em;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0.6em;
        opacity: 1;
    }
    .alert-offer button:hover {
        color: #fff;
        opacity: 1;
    }
    #contact-us {
        background-color: #fff;
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        right: 1.1em;
        height: 50px;
        width: 160px;
        z-index: 6;
    }
    #contact-us i {
        font-size: 2em;
        position: relative;
        left: -5px;
    }
    #contact-us span:first-child {
        position: absolute;
        top: 14.5px;
        left: 32.5px;
        color: #fff;
        z-index: 6;
    }
    #contact-us span:last-child {
        position: relative;
        top: -5px;
    }
    header .wrapper {
        position: relative;
        height: 100%;
    }
    header .icon--hero-bg {
        background-size: 2000px;
        background-position: top right;
    }
    .main-navigation .row {
        display: flex;
        align-items: baseline;
        margin-top: 1.5em;
    }
    .main-navigation img {
        height: 45px;
    }
    .main-navigation .col-lg-8 {
        display: none;
    }
    .main-navigation a {
        font-size: 0.95em;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    .main-navigation .col-lg-3 {
        display: flex;
        justify-content: flex-end;
        z-index: 5;
    }
    .main-navigation .fa-user-o {
        font-family: 0.01em;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 5px;
        padding-top: 6px;
        width: 32px;
        height: 32px;
    }
    .main-navigation a:hover {
        color: #3498DB;
        text-decoration: none;
    }
    .quote-container div {
        position: relative;
        top: 65px;
        z-index: 5;
    }
    .quote-container h2 {
        font-size: 3.9em;
        width: 450px;
        margin: 0.2em auto;
    }
    .quote-container p {
        font-size: 1.45em;
    }
    .quote-btn {
        background-color: #3498DB;
        font-size: 1.4em;
        font-weight: bold;
        border-radius: 30px;
        margin-top: 1em;
        padding: 12px 50px;
        transition: 0.3s;
    }
    .quote-btn:hover {
        background-color: #1280c9;
    }
    header .icon--hero-park {
        background-size: 15em;
        background-position: left bottom;
        position: absolute;
        left: -6%;
        bottom: -4.6%;
        padding: 9em 7.6em;
    }
    header .icon--hero {
        background-size: 2050px;
        background-position: top center;
        position: absolute;
        top: 0;
        padding: 19.5em 50%;
    }
    header .icon--hero-bench {
        background-size: 150px;
        background-position: right bottom;
        position: absolute;
        right: 12%;
        bottom: -4.2%;
        padding: 5em 5em;
    }
    .hide-for-medium {
        display: none !important;
    }
    /*
        ================
        HOW IT WORKS
        ================
    */
    #how-it-works {
        background-color: #f9f9f9;
        z-index: 1;
    }
    .imgs {
        z-index: 4;
    }
    #how-it-works .container {
        width: 90%;
        padding: 4.5em 0;
    }
    .yellow-circle {
        background-color: #ffcc66;
        border-radius: 50%;
        width: 225px;
        height: 225px;
        margin: auto;
    }
    .icon--step-bond-guarantee,
    .icon--step-quote,
    .icon--step-payment {
        background-size: 65%;
        background-position: center;
        z-index: 5;
    }
    #how-it-works .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2em;
    }
    #how-it-works .row:last-child {
        margin-bottom: 3.2%;
    }
    #how-it-works h2 {
        font-size: 3.3em;
        margin-bottom: 0.5em;
    }
    #how-it-works p {
        font-size: 1.29em;
        line-height: 38px;
    }
    /*
        ================
        OUR PROMISE
        ================
    */
    #our-promise {
        background-color: #fff;
    }
    #our-promise .title {
        margin: 6em 0 2em;
        padding: 0 20px;
    }
    #our-promise h1,
    #our-community h1 {
        font-size: 4.5em;
        margin-bottom: 0.3em;
    }
    .title p {
        width: 100%;
        margin: auto;
        font-size: 1.6em;
        line-height: 35px;
    }
    #our-promise .container {
        display: flex;
        width: 80%;
        padding: 0;
    }
    #our-promise .container:nth-child(2) {
        width: 100%;
        margin-bottom: 6em;
    }
    .feature {
        border: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    .icon--feature-support,
    .icon--feature-professional,
    .icon--feature-insurance,
    .icon--feature-flexibility,
    .icon--feature-transparency,
    .icon--feature-eco {
        background-size: contain;
        width: 70px;
        height: 70px;
    }
    .feature h3 {
        font-size: 1.25em;
        position: relative;
        top: -2px;
    }
    .feature-desc {
        font-size: 1em;
        text-align: center;
        line-height: 23px;
    }
    /*
        ================
        OUR COMMUNITY
        ================
    */
    #our-community,
    #checklist {
        background-color: #75b9e7;
        color: #fff;
        padding: 50px 8px;
    }
    #our-community .container {
        width: 80%;
        flex-direction: column;
    }
    #our-community .title {
        font-size: 0.7em;
        margin-bottom: 5em;
    }
    .avatar {
        background-image: url(../images/testimonials@2x.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .avatar-2 {
        background-position: 0 -205px;
    }
    .avatar-3 {
        background-position: 0 -104px;
    }
    .testimonial h4 {
        margin: 1% 0 0;
    }
    .testimonial p {
        font-size: 1em;
        margin-top: 2%;
        line-height: 25px;
    }
    .testimonial:last-child {
        margin-bottom: 10em;
    }
    .icon--rating-5 {
        background-size: 100%;
        width: 125px;
        height: 40px;
        margin: 0 auto 5%;
    }
    /*
        ================
        CHECKLIST
        ================
    */
    #checklist {
        background-color: #3498db;
        position: relative;
    }
    #checklist .gallery img {
        height: 150px;
    }
    #checklist .gallery:nth-child(3),
    #checklist .gallery:nth-child(4) {
        position: absolute;
        top: -9em;
        left: 0;
        right: 0;
        margin: auto;
        width: 250px;
        height: 250px;
    }
    #checklist .gallery:nth-child(3) {
        z-index: 5;
    }
    #checklist .gallery:nth-child(4) {
        z-index: 4;
    }
    #checklist .gallery:nth-child(3) img:first-child {
        position: absolute;
        top: -10%;
        left: -10%;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(2) {
        position: absolute;
        top: -9%;
        right: -10%;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(3) {
        position: absolute;
        bottom: -8%;
        left: -10%;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(4) {
        position: absolute;
        bottom: -9%;
        right: -4%;
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    #checklist .gallery:nth-child(4) img:first-child {
        position: absolute;
        top: 10%;
        left: -13%;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    #checklist .gallery:nth-child(4) img:nth-child(2) {
        position: absolute;
        top: -16%;
        right: 0;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    #checklist .gallery:nth-child(4) img:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: -12%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    #checklist .gallery:nth-child(4) img:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: -16%;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    #checklist .container {
        width: 100%;
        padding: 0;
    }
    #checklist .container .row:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    #checklist h1 {
        font-size: 3.4em;
        width: 80%;
        margin: 3em auto 0.2em;
    }
    #checklist .title {
        margin-bottom: 2em;
    }
    .list {
        background-color: #fff;
        border-radius: 5px;
        height: 900px;
        margin-bottom: 2em;
        padding: 0;
        padding-top: 0.5em;
    }
    .checklist {
        width: 100%;
        padding: 0;
    }
    .checklist li {
        border-top: 1px solid #eee;
        padding: 0;
        padding: 1.1em 3.5em;
        display: flex;
        align-items: center;
    }
    .icon--tick {
        background-position: center;
        padding: 1em;
        position: relative;
        float: left;
        left: -2em;
    }
    .vertical-line {
        position: absolute;
        left: 4em;
        border-left: 1px solid #ecbbb6;
    }
    .long-list:nth-child(1) .vertical-line {
        height: 824px;
    }
    .long-list:nth-child(2) .vertical-line,
    .long-list:nth-child(3) .vertical-line {
        height: 854px;
    }
    .small-list {
        height: 450px;
    }
    .small-list:nth-child(1) .vertical-line,
    .small-list:nth-child(2) .vertical-line,
    .small-list:nth-child(3) .vertical-line {
        height: 404px;
    }
    /*
        ===========
        QUOTE
        ===========    
    */
    #quote {
        background-color: #eee;
        padding: 6em 0;
    }
    #quote .wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 2em 6em;
        width: 100%;
    }
    #quote h1 {
        font-size: 3.5em;
    }
    #quote .title p {
        font-size: 1.25em;
        line-height: 28px;
        width: 60%;
    }
    #quote .title {
        margin-bottom: 3em;
    }
    form .row {
        border-bottom: 1px solid #ccc;
    }
    form .row:first-child,
    form .row:nth-child(2),
    form .row:nth-child(3) {
        display: flex;
        align-items: center;
        padding: 1.5em 0;
    }
    form .row:nth-child(4) {
        padding: 1.5em 0;
    }
    form .row .col-lg-4,
    form .row .col-lg-12 {
        padding: 0;
    }
    #quote form h4 {
        margin-bottom: 0.2em;
    }
    #quote .icon--property-studio,
    #quote .icon--property-house,
    #quote .icon--property-apartment {
        background-size: contain;
        border-radius: 50%;
        width: 3.4em;
        height: 3.4em;
        margin-right: 0.5em;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.3s;
    }
    #quote .number-box {
        overflow: auto;
        margin-bottom: 1.5em;
    }
    #quote .number-box button {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
        height: 2.6em;
        width: 20%;
        transition: 0.3s;
    }
    #quote .number-box button:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    #quote .number-box button:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #quote .number-box button:hover {
        background-color: #eee;
    }
    #quote .icon--property-apartment {
        border: 2px solid #2a94e2;
        opacity: 1;
    }
    #quote .number-box input {
        text-align: center;
        width: 40%;
        height: 2.6em;
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #quote .icon--property-studio:hover,
    #quote .icon--property-house:hover {
        opacity: 1;
    }
    .extras-box {
        height: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    .extras-box:last-child {
        border: none;
    }
    .extras-top {
        height: 4em;
        padding-bottom: 0;
    }
    .extras-box input[type=checkbox]:before {
        content: "";
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }
    .extras-box input[type=checkbox]:checked:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M4.208%2010.53l3.458%203.46m8.126-8.01l-8.04%208.04%22%20fill%3D%22none%22%20stroke%3D%22%2387BF57%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    .extras-box label {
        position: relative;
        top: 0.6em;
        left: 2em;
        cursor: pointer;
    }
    #get-quote-btn {
        font-size: 1.2em;
        width: 10em;
        height: 3em;
        margin-top: 2em;
        margin-left: 35%;
        margin-bottom: 1.8em;
        transition: 0.3s;
        border-radius: 30px;
    }
    /*
        ==========
        FOOTER
        ==========
    */
    footer {
        background-color: #2a94e2;
        color: #fff;
        height: 415px;
        padding: 5.5em 0 4em;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    footer .row:first-child p {
        font-weight: bold;
        font-size: 1.75em;
        margin-bottom: 1em;
    }
    footer .container i {
        background-color: #1280c9;
        font-size: 1.8em;
        width: 2em;
        height: 2em;
        margin-right: 0.4em;
        margin-bottom: 2.3em;
        padding-top: 0.5em;
        transition: 0.3s;
        cursor: pointer;
    }
    footer .container i:last-child {
        margin-right: 0;
    }
    footer .container i:hover {
        background-color: #0e629a;
    }
    footer li {
        margin-right: 0.9em;
    }
    footer li:last-child {
        margin: 0;
        margin-left: 3.5em;
    }
    footer a {
        color: #fff;
    }
    footer a:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    footer img[alt="Neat logo"] {
        height: 60px;
        margin-bottom: 1.2em;
    }
}

@media (min-width: 980px) {
    body {
        margin: 0;
        padding: 0;
    }
    header {
        font-size: 1.2em;
        color: #fff;
        height: 605px;
    }
    header .alert-offer {
        background-color: #ed7161;
        font-size: 0.85em;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 35px;
        z-index: 6;
    }
    .alert-offer p {
        margin-top: 0.5em;
    }
    .alert-offer button {
        font-size: 2.5em;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0.6em;
        opacity: 1;
    }
    .alert-offer button:hover {
        color: #fff;
        opacity: 1;
    }
    #contact-us {
        background-color: #fff;
        font-size: 0.9em;
        font-weight: bold;
        color: #333;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        right: 1.1em;
        height: 50px;
        width: 160px;
        z-index: 6;
    }
    #contact-us i {
        font-size: 2em;
        position: relative;
        left: -5px;
    }
    #contact-us span:first-child {
        position: absolute;
        top: 14.5px;
        left: 32.5px;
        color: #fff;
        z-index: 6;
    }
    #contact-us span:last-child {
        position: relative;
        top: -5px;
    }
    header .wrapper {
        position: relative;
        top: 35px;
        height: 100%;
    }
    header .icon--hero-bg {
        background-size: 2000px;
        background-position: top center;
    }
    .main-navigation .row {
        display: flex;
        align-items: baseline;
        margin-top: 1.5em;
    }
    .main-navigation img {
        height: 45px;
    }
    .main-navigation .col-lg-8 {
        display: flex;
        justify-content: flex-start;
        padding: 0 3em;
        z-index: 5;
    }
    .main-navigation .col-lg-8 li {
        margin: 0 0.5em;
        padding: 0;
        cursor: pointer;
    }
    .main-navigation .col-lg-8 li:first-child {
        margin-left: 0;
    }
    .main-navigation a {
        font-size: 0.95em;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }
    .main-navigation .col-lg-3 {
        display: flex;
        justify-content: flex-end;
        z-index: 5;
    }
    .main-navigation .fa-user-o {
        font-family: 0.01em;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 5px;
        padding-top: 6px;
        width: 32px;
        height: 32px;
    }
    .main-navigation a:hover {
        color: #3498DB;
        text-decoration: none;
    }
    header .icon--hero-park {
        background-size: 15em;
        background-position: left bottom;
        position: absolute;
        left: 11.4%;
        bottom: -4.6%;
        padding: 9em 7.6em;
    }
    header .icon--hero {
        background-size: 2100px;
        background-position: top center;
        position: absolute;
        top: 0;
        padding: 19.5em 50%;
    }
    header .icon--hero-bench {
        background-size: 150px;
        background-position: right bottom;
        position: absolute;
        right: 20.1%;
        bottom: -4.2%;
        padding: 3.5% 7.2%;
    }
    .quote-container div {
        position: relative;
        top: 100px;
    }
    .quote-container h2 {
        font-size: 3.9em;
        width: 100%;
        margin: 0.2em auto;
    }
    .quote-container p {
        font-size: 1.45em;
    }
    .quote-btn {
        background-color: #3498DB;
        font-size: 1.45em;
        font-weight: bold;
        border-radius: 30px;
        margin-top: 1.7em;
        padding: 12px 50px;
        transition: 0.3s;
    }
    .quote-btn:hover {
        background-color: #1280c9;
    }
    /*
        ================
        HOW IT WORKS
        ================
    */
    #how-it-works {
        background-color: #f9f9f9;
        position: relative;
        top: 35px;
        z-index: 1;
    }
    .imgs {
        z-index: 4;
    }
    #how-it-works .container {
        width: 70%;
        padding: 4.5em 0;
    }
    .yellow-circle {
        background-color: #ffcc66;
        border-radius: 50%;
        width: 275px;
        height: 275px;
        margin: auto;
    }
    .icon--step-bond-guarantee,
    .icon--step-quote,
    .icon--step-payment {
        background-size: 65%;
        background-position: center;
        z-index: 5;
    }
    #how-it-works .row {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }
    #how-it-works .row:last-child {
        margin-bottom: 3.2%;
    }
    #how-it-works h2 {
        font-size: 3.3em;
        margin-bottom: 0.5em;
    }
    #how-it-works p {
        font-size: 1.29em;
        line-height: 35px;
    }
    /*
        ================
        OUR PROMISE
        ================
    */
    #our-promise {
        background-color: #fff;
        position: relative;
        top: 35px;
    }
    #our-promise .title {
        margin: 6em 0 2em;
        padding: 0 20px;
    }
    #our-promise h1 {
        font-size: 4.5em;
        margin-bottom: 0.3em;
    }
    .title p {
        width: 55%;
        margin: auto;
        font-size: 1.6em;
        line-height: 35px;
    }
    #our-promise .container {
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 0;
    }
    #our-promise .container:nth-child(2) {
        width: 100%;
        margin-bottom: 6em;
    }
    .feature {
        border: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    .icon--feature-support,
    .icon--feature-professional,
    .icon--feature-insurance,
    .icon--feature-flexibility,
    .icon--feature-transparency,
    .icon--feature-eco {
        background-size: contain;
        width: 70px;
        height: 70px;
    }
    .feature h3 {
        font-size: 1.25em;
        position: relative;
        top: -2px;
    }
    .feature-desc {
        font-size: 1em;
        text-align: center;
        line-height: 23px;
    }
    /*
        ================
        OUR COMMUNITY
        ================
    */
    #our-community,
    #checklist {
        background-color: #75b9e7;
        position: relative;
        top: 35px;
        color: #fff;
        padding: 50px 8px;
    }
    #our-community .container {
        width: 80%;
        flex-direction: column;
    }
    #our-community .title {
        margin-bottom: 5em;
    }
    #our-community h1 {
        font-size: 6em;
    }
    #our-community .testimonial div:last-child {
        text-align: left;
    }
    .avatar {
        background-image: url(../images/testimonials@2x.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
    }
    .avatar-2 {
        background-position: 0 -245px;
    }
    .avatar-3 {
        background-position: 0 -125px;
    }
    .testimonial h4 {
        margin: 0.2em 0 0;
    }
    .testimonial p {
        font-size: 1.2em;
        margin-top: 2%;
        line-height: 35px;
    }
    .testimonial:last-child {
        margin-bottom: 9.5em;
    }
    .icon--rating-5 {
        background-size: 100%;
        width: 125px;
        height: 40px;
        margin-bottom: 1em;
        float: left;
    }
    /*
        ================
        CHECKLIST
        ================
    */
    #checklist {
        background-color: #3498db;
        position: relative;
        top: 35px;
        padding: 0;
    }
    #checklist .gallery img {
        height: 250px;
    }
    #checklist .gallery:nth-child(3),
    #checklist .gallery:nth-child(4) {
        position: absolute;
        top: -10em;
        left: 0;
        right: 0;
        width: 1200px;
        margin: auto;
    }
    #checklist .gallery:nth-child(3) {
        z-index: 5;
    }
    #checklist .gallery:nth-child(4) {
        z-index: 4;
    }
    #checklist .gallery:nth-child(3) img:first-child {
        position: absolute;
        top: 0;
        left: -1em;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(3) img:first-child:hover,
    #checklist .gallery:nth-child(3) img:nth-child(5):hover,
    #checklist .gallery:nth-child(4) img:nth-child(3):hover {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(2) {
        position: absolute;
        top: 0;
        left: 15.5em;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(3) img:nth-child(2):hover,
    #checklist .gallery:nth-child(3) img:nth-child(4):hover,
    #checklist .gallery:nth-child(4) img:nth-child(4):hover {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(3) {
        position: absolute;
        top: 0;
        left: 32.5em;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(4) img:first-child:hover,
    #checklist .gallery:nth-child(3) img:nth-child(3):hover,
    #checklist .gallery:nth-child(4) img:nth-child(2):hover {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    #checklist .gallery:nth-child(3) img:nth-child(4) {
        position: absolute;
        top: 0;
        right: 15em;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(3) img:nth-child(5) {
        position: absolute;
        top: 0;
        right: -1em;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(4) img:first-child {
        position: absolute;
        top: 0;
        left: 30em;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(4) img:nth-child(2) {
        position: absolute;
        top: 0;
        left: 4em;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(4) img:nth-child(3) {
        position: absolute;
        top: 0;
        left: 50em;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        transition: 0.4s;
    }
    #checklist .gallery:nth-child(4) img:nth-child(4) {
        position: absolute;
        top: 0;
        right: -1em;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        transition: 0.4s;
    }
    #checklist .container {
        width: 92%;
    }
    #checklist .container .row:nth-child(2) {
        flex-direction: row;
        margin-bottom: 4em;
    }
    #checklist .title {
        margin-bottom: 2.5em;
    }
    #checklist h1 {
        font-size: 4.4em;
        margin-top: 3em;
    }
    #checklist .title p {
        width: 65%;
        font-size: 1.8em;
        margin-bottom: 2em;
    }
    .list {
        background-color: #fff;
        border-radius: 5px;
        width: 30.9%;
    }
    .long-list {
        height: 710px;
        margin: 0 1em 1em;
    }
    .checklist {
        padding: 0;
    }
    .checklist li {
        border-top: 1px solid #eee;
        padding: 0;
        padding: 1em 5em;
    }
    .icon--tick {
        background-position: center left;
        padding: 0.8em;
        position: relative;
        left: -3.5em;
    }
    .vertical-line {
        position: absolute;
        left: 4em;
        border-left: 1px solid #ecbbb6;
        height: 690px;
    }
    .long-list:nth-child(1) .vertical-line {
        height: 614px;
    }
    .long-list:nth-child(2) .vertical-line,
    .long-list:nth-child(3) .vertical-line {
        height: 664px;
    }
    .small-list {
        height: 275px;
        margin: 0 1em 1em;
    }
    .small-list:nth-child(1) .vertical-line,
    .small-list:nth-child(2) .vertical-line,
    .small-list:nth-child(3) .vertical-line {
        height: 229px;
    }
    /*
        ===========
        QUOTE
        ===========    
    */
    #quote {
        background-color: #eee;
        position: relative;
        top: 35px;
        padding: 6em 10em;
    }
    #quote .wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 2em 6em;
    }
    #quote h1 {
        font-size: 3.5em;
    }
    #quote .title p {
        font-size: 1.25em;
        line-height: 28px;
        width: 60%;
    }
    #quote .title {
        margin-bottom: 3em;
    }
    form .row {
        border-bottom: 1px solid #ccc;
    }
    form .row:first-child,
    form .row:nth-child(2),
    form .row:nth-child(3) {
        display: flex;
        align-items: center;
        padding: 1.5em 0;
    }
    form .row:nth-child(4) {
        padding: 1.5em 0;
    }
    form .row .col-lg-4,
    form .row .col-lg-12 {
        padding: 0;
    }
    #quote form h4 {
        margin-bottom: 0.2em;
    }
    #quote .icon--property-studio,
    #quote .icon--property-house,
    #quote .icon--property-apartment {
        background-size: contain;
        border-radius: 50%;
        width: 3.4em;
        height: 3.4em;
        margin-right: 0.5em;
        opacity: 0.5;
        cursor: pointer;
        float: left;
        transition: 0.3s;
    }
    #quote .number-box {
        overflow: auto;
        margin-bottom: 1.5em;
    }
    #quote .number-box button {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
        height: 2.6em;
        width: 20%;
        transition: 0.3s;
    }
    #quote .number-box button:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    #quote .number-box button:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #quote .number-box button:hover {
        background-color: #eee;
    }
    #quote .icon--property-apartment {
        border: 2px solid #2a94e2;
        opacity: 1;
    }
    #quote .number-box input {
        text-align: center;
        width: 40%;
        height: 2.6em;
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #quote .icon--property-studio:hover,
    #quote .icon--property-house:hover {
        opacity: 1;
    }
    .extras-box {
        height: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    .extras-box:last-child {
        border: none;
    }
    .extras-top {
        height: 4em;
        padding-bottom: 0;
    }
    .extras-box input[type=checkbox]:before {
        content: "";
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }
    .extras-box input[type=checkbox]:checked:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M4.208%2010.53l3.458%203.46m8.126-8.01l-8.04%208.04%22%20fill%3D%22none%22%20stroke%3D%22%2387BF57%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }
    .extras-box label {
        position: relative;
        top: 0.6em;
        left: 2em;
        cursor: pointer;
    }
    .appliance {
        height: auto;
        margin-bottom: 0.5em;
    }
    .appliance label {
        position: relative;
        top: 1px;
    }
    .appliance input[type=checkbox]:before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        float: left;
    }
    #get-quote-btn {
        font-size: 1.2em;
        width: 10em;
        height: 3em;
        margin-top: 2em;
        margin-left: 35%;
        margin-bottom: 1.8em;
        transition: 0.3s;
        border-radius: 30px;
    }
    /*
        ==========
        FOOTER
        ==========
    */
    footer {
        background-color: #2a94e2;
        color: #fff;
        position: relative;
        top: 35px;
        height: 415px;
        padding: 5.5em 0 4em;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    footer .row:first-child p {
        font-weight: bold;
        font-size: 1.75em;
        margin-bottom: 1em;
    }
    footer .container i {
        background-color: #1280c9;
        font-size: 1.8em;
        width: 2em;
        height: 2em;
        margin-right: 0.4em;
        margin-bottom: 2.3em;
        padding-top: 0.5em;
        transition: 0.3s;
        cursor: pointer;
    }
    footer .container i:last-child {
        margin-right: 0;
    }
    footer .container i:hover {
        background-color: #0e629a;
    }
    footer li {
        margin-right: 0.9em;
    }
    footer li:last-child {
        margin: 0;
        margin-left: 5.5em;
    }
    footer a {
        color: #fff;
    }
    footer a:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    footer img[alt="Neat logo"] {
        height: 60px;
        margin-bottom: 1.2em;
    }
}